<!DOCTYPE html>
<html>
<head>
  <title>BackDevise</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<script type="text/javascript">
	$(function(){
		BackDevise.initialize(<%= current_user.to_json.html_safe %>);
	})
</script>
</body>
</html>
